@media (max-width: 895px) {
  .header {
    overflow: cover;
    position: fixed;
    z-index: 10;
  }
  label.logo {
    font-size: 20px;
    padding-left: 0px;
    width: 100%;
    position: relative;
  }
  nav ul li a {
    font-size: 16px;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 30%;
    height: 100%;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5;
    z-index: 10;
  }
  nav ul li {
    display: block;
    margin: 0;
    line-height: 40px;
  }
  nav ul li a {
    font-size: 20px;
  }
  /* a:hover,
    a.acctive {
      background: none;
      color: #0082e6;
    } */
  #check:checked ~ ul {
    left: 0;
    transition: 0.5s;
  }
  nav ul li:hover .sub-menu {
    visibility: visible;
    /* background: #1bff7a; */
    transition: all 0.5s;
  }
  .sub-menu {
    background-color: #2c3e50;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 120%;
    height: auto;
    visibility: hidden;
    /* background: #e66800; */
    color: white;
    left: 100%;
    top: -1px;
  }
  .sub-menu li a {
    margin: 0;
    padding: 0;
  }
  .sub-menu li {
    margin: 0;
    padding: 0;
  }
  /* Main Content */
  .dot1 {
    left: 45%;
  }
  .dot3 {
    left: 55%;
  }
  /* TOUR */
  .tournb1-anh1 {
    width: 100%;
    float: left;
  }
  .tournb1 img {
    width: 30%;
    height: 30%;
    /* visibility: hidden; */
  }
  .tournb1-anh2 {
    width: 100%;
    float: left;
  }
  .tournb1-anh3 {
    width: 100%;
    float: left;
  }
  .tourlayer1 {
    width: 100%;
    background-color: #f1f1f1;
    float: left;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .tourlayer2 {
    width: 100%;
    background-color: #f1f1f1;
    float: left;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .tourlayer3 {
    width: 100%;
    background-color: #f1f1f1;
    float: left;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  /* EVENT TIME */
  /* EVENT TIME */

  .eventLeft {
    width: 100%;
    margin-bottom: 5%;
  }
  .eventRight {
    width: 100%;
  }
  /* INFOMATION */
  /* INFOMATION */
  .infomation {
    width: 100%;
    background-color: #f1f1f1;
    overflow: auto;
  }
  .khampha {
    width: 100%;
    margin: 0 auto;
  }
  .tintuc {
    width: 100%;
    margin: 0 auto;
  }
  .tintuc-bottom-1 {
    padding: 1em;
  }
  .infoLeft {
    width: 100%;
    margin: 0 auto;
  }
  .infoRight {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 510px) {
  nav ul li a {
    font-size: 10px;
  }
}
@media (max-width: 360px) {
  label.logo {
    visibility: hidden;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
